<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Licitaciones Perú</title>
</head>
<body>
  <h1>Licitaciones recientes</h1>
  <table border="1">
    <tr><th>Entidad</th><th>Objeto</th><th>Región</th><th>Monto</th></tr>
    {% for item in data %}
    <tr>
      <td>{{ item.Entidad }}</td>
      <td>{{ item.Objeto }}</td>
      <td>{{ item.Región }}</td>
      <td>{{ item.Monto }}</td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <a href="/descargar">Descargar Excel</a>
</body>
</html>